<h2>Reactive Forms</h2>
<form [formGroup]="reactiveForm" class="form">
  <div class="form-group full-width">
    <mat-form-field class="full-width">
      <input type="text" matInput placeholder="Name" formControlName="name">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="full-width">
      <input type="text" matInput placeholder="Email" formControlName="email">
    </mat-form-field>
  </div>
  <div class="form-group">
    <m2b-rest-autocomplete [elements]="countries" [placeHolderName]="placeHolderName" [showProperty]="showPropertyName"
      [saveProperty]="savePropertyName" formControlName="country">
    </m2b-rest-autocomplete>
  </div>
</form>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Form Values</h5>
    <pre>{{ reactiveForm.value | json }}</pre>
  </div>
</div>